.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
  
.text-section {
    flex: 1;
    max-width: 400px;
    padding: 20px; 
    box-sizing: border-box;
}
  
.video-section {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}


form.action{
  width: 100%;
  height: 100vh;
}

.form-group{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding:  20px 100px;
}

.form-group:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("images/bg2.jpg") no-repeat center; 
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: start; 
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rbga(0,0, 0,.19);
}

.left{
  height: 100%;
  background: url("images/bg3.jpg") no-repeat center; 
  background-size: cover;

}

.right{
  padding: 25px 40px;
}

h2.z{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h3:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}

.field{
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
  background-color: #fff;
  border: 2px solid rgba(30, 85,250, 0.47);
}

.area{
  min-height: 150px;
}

.btn-form{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #00dbde;
  cursor: pointer;
  outline: none;
  border: none;
  transition: .3s;
}

.btn-form:hover{
  background-color: #00dbde;
}

@media screen and (max-width:800px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
}
.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social a .bx {
  font-size: 24px;
  color: var(--text-color);
  padding: 10px;
  background: var(--second-color);
  border-radius: 0.2rem;
}
.social a .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box li a {
  color: var(--text-color);
}
.footer-box li a:hover {
  color: var(--main-color);
}
.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact span {
  display: flex;
  align-items: center;
}
.contact i {
  font-size: 20px;
  margin-right: 1rem;
}
.copyright {
  padding: 20px;
  text-align: center;
  background: var(--second-color);
}